@import "utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --menu-width: 40em; /* Width of menu */
  --items: 6; /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));

  --blue-dark: #026670;
  --blue-dark-light: #008894;
  --blue-primary: #9fedd7;
  --blue-secondary: #63d5c3;

  --white-primary: #edeae5;
  --pure: #ffffff;

  --black-primary: #000000;
  --black-secondary: #1a1a1d;
  --black-tertiary: #4e4e50;
}

body {
  width: 100%;
  height: 100%;
  color: var(--black-primary);
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  background: #ffff;
}
::-webkit-scrollbar-thumb {
  background: #008894;
}
::-webkit-scrollbar-thumb:hover {
  background: #026670;
}

a {
  text-decoration: none;
}

.feed-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5rem;
    width: 100%;
    padding: 5rem 0rem;
  }
  .feed-container .user-details-container {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    margin-left: 5rem;
    padding: 2rem 3rem;
  }

  .feed-container .user-details-container a img {
    border-radius: 2rem;
  }

  .feed-container .user-details-container .user-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  .feed-container .user-details-container .user-details a {
    color: var(--blue-dark-light);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .feed-container .add-post {
    width: 90%;
    height: 100%;
    padding-right: 2rem;
  }

  .feed-container .add-post .post-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
  }

  .feed-container .add-post .post-form textarea {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    border: 0px solid var(--blue-dark-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    padding-right: 20rem;
    font-size: 1.4rem;
    font-weight: 400;
    resize: none;
  }

  .feed-container .add-post .post-form textarea:focus {
    outline: 0;
    /* border: 0.25px solid var(--blue-dark); */
  }

  .feed-container .add-post .post-form .post-btn {
    position: absolute;
    right: 10%;
    display: flex;
    align-items: center;
    margin-bottom: -10rem;
  }

  .post-btn label {
    margin-right: 2rem;
    cursor: pointer;
  }
  .post-btn label i {
    color: var(--blue-dark-light);
    transition: all 0.3s ease;
  }
  .post-btn label i:hovver {
    color: var(--blue-dark);
  }

  .feed-container .add-post .post-form .post-btn input {
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--blue-dark-light);
    color: var(--white-primary);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .feed-container .add-post .post-form input:hover {
    background: var(--blue-dark);
  }
  .feed-container .add-post .post-form #mediabut {
    font-size: 5rem;
  }
  .feed-container .add-post .posts_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .feed-container .add-post .posts_area hr {
    width: 100%;
    color: var(--blue-primary);
  }
  .post-flex {
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--blue-dark-light);
  }
  .feed-container .add-post .posts_area .status-post {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0rem;
    min-height: 3rem;
  }

  .post-profile-pic {
    margin: 1rem;
    margin-right: 3rem;
  }

  .feed-container .add-post .posts_area .status-post .post-profile-pic img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  .feed-container .add-post .posts_area .status-post .post-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .feed-container .add-post .posts_area .status-post .post-content .posted-by {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--blue-dark-light);
  }

  .feed-container .add-post .posts_area .post-flex .status-post .post-content .posted-by a {
    font-size: 3rem;
    color: var(--blue-dark-light);
    transition: all 0.3s ease;
  }

  .feed-container .add-post .posts_area .post-flex .status-post .post-content .posted-by a:hover {
    color: var(--blue-dark);
  }

  #post-body .post-desc{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  #post-body .post-img .postedImage img{
    width: 90%;
    height: 90%;
  }

  .newsfeedPostOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .newsfeedPostOptions .postStats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .newsfeedPostOptions .postStats h4 {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  .newsfeedPostOptions .post_comment {
    width: 90%;
    height: 400px;
  }

  #comment_form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #comment_form textarea {
    width: 80%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #616060;
    font-size: 1.8rem;
    border: 1px solid var(--blue-dark-light);
  }
  #comment_form textarea:focus {
    outline: none !important;
    border: 1px solid var(--blue-dark);
    box-shadow: 0;
  }
  #comment_form input[type="submit"] {
    padding: 1rem 2rem;
    border: 0;
    font-size: 1.8rem;
    background-color: var(--blue-dark-light);
    color: var(--pure);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #comment_form input[type="submit"]:hover {
    background-color: var(--blue-dark);
  }

  .comment_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid var(--blue-dark);
  }
  .comment_section .comment-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .comment_section .comment-title a {
    text-decoration: none;
    color: var(--blue-dark-light);
    transition: all 0.3s ease;
  }
  .comment_section .comment-title a:first-child {
    margin-right: 2rem;
  }
  .comment_section .comment-title a:hover {
    color: var(--blue-dark);
  }
  .comment_section .comment-title a h1 {
    font-size: 2.5rem;
  }
  .comment_section .comment-title img {
    width: 100%;
    border-radius: 50%;
  }
  .comment_section .comment-body {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  .comment_section .comment-body p {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #026670;
  }
  .newsfeedPostOptions iframe{
    border-radius: 3px;
    height: 2.5rem;
    width: 6rem;
    border: 0;
    font-size: 14px;
  }
  .comment_like{
    background-color: var(--blue-dark-light);
    border: none;
    font-size: 1.4rem;
    color:var(--white-primary);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .comment_like:hover {
    background-color: var(--blue-dark);
  }
  .like_value {
    margin-left: 2rem;
  }
  .like_value h4{
    font-size: 1.4rem;
    color: var(--blue-dark-light);
    user-select: none;
  }
