@import "utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --menu-width: 40em;
  --items: 6;
  --item-width: calc(var(--menu-width) / var(--items));

  --blue-dark: #026670;
  --blue-dark-light: #008894;
  --blue-primary: #9fedd7;
  --blue-secondary: #63d5c3;

  --white-primary: #edeae5;
  --pure: #ffffff;

  --black-primary: #000000;
  --black-secondary: #1a1a1d;
  --black-tertiary: #4e4e50;
}
body {
  width: 100%;
  height: 100%;
  color: var(--black-primary);
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0rem;
  border-bottom: 1px solid var(--blue-dark);;
}

nav .logo {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 4rem;
  color: var(--blue-dark-light);
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .logo:hover {
  color: var(--blue-dark);
}
nav .logo a {
  font-size: 2.4rem;
  margin-left: 2rem;
  color: var(--blue-dark);
}

nav .search {
  display: flex;
  align-items: center;
  width: 75%;
  flex-direction: column;
  position: relative;
}

nav .search form {
  display: flex;
  align-items: center;
  width: 100%;
}

nav .search .search_results {
  position: absolute;
  width: 100%;
  top: 25px;
}

.search .search_results .result-display {
  box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid var(--blue-dark);
  transition: all 0.3s ease;
}

.result-display:hover .liveSearchText p:nth-child(1){
  color: var(--blue-dark);
}

.search_results .result-display .display-container {
  color: var(--black-primary);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.display-container .liveSearchProfilePic img {
  height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.display-container .liveSearchText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.liveSearchText p {
  font-size: 1.4rem;
}

.liveSearchText p:nth-child(1) {
  color: var(--blue-dark-light);
}

.search form input {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 25px;
  font-size: 1.4rem;
  border: none;
  outline:  none;
  border-bottom: 1px solid var(--blue-dark);
  margin-right: 2rem;
  padding: 0 2rem;
  padding-right: 5rem;
  color: var(--black-primary) !important;
  font-weight: 500 !important;
}

.search form .search-btn {
  position: absolute;
  width: 2rem;
  right: 3rem;
  cursor: pointer;
}

nav .nav-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
}

nav .nav-links a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  margin-right: 2rem;
  color: var(--blue-dark-light);
  transition: all 0.3s ease;
}

nav .nav-links a i {
  font-size: 2rem;
  margin-right: 1rem;
}

nav .nav-links a:hover {
  color: var(--blue-dark);
}

nav .dropdown_data_window {
  background-color: #fff;
  border: 1px solid #DADADA;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 25rem;
  position: absolute;
  right: 10rem;
  top: 6.5rem;
  overflow-y: auto;
	z-index: 100;
}

.dropdown_data_window p {
  font-size: 1.2rem;
}

.dropdown {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  padding: 1rem;
}

.dropdown img {
  width: 50px;
  border-radius: 5px;
  margin-right: 5px;
}

.dropdown .dropdown-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown .dropdown-details h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--blue-dark-light);
}
.dropdown:hover .dropdown-details h1 {
  color: var(--blue-dark);
}